<?xml version="1.0"?>
<config>
    <modules>
        <Inky_Checkout>
            <version>0.1.0</version>
        </Inky_Checkout>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <inky_checkout before="Mage_Checkout">Inky_Checkout</inky_checkout><!--Change Inky To Your Module NameSpace and Checkout to Your Module name-->
                    </modules>
                </args>
            </checkout>
        </routers>
         <events>
            <checkout_cart_product_add_after>
                <observers>
                    <inky_cart_product_add_after>
						<type>model</type>
                        <class>inky_checkout/observer</class>
                        <method>changePrice</method>
                    </inky_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after> 
            <checkout_onepage_controller_success_action>
                <observers>
                    <inky_checkout_onepage_controller_success_action>
						<type>model</type>
                        <class>inky_checkout/observer</class>
                        <method>addDesign</method>
                    </inky_checkout_onepage_controller_success_action>
                </observers>
            </checkout_onepage_controller_success_action>           
        </events>
    </frontend>
    <global>
		<blocks>
			<checkout>
				<rewrite>
					<cart_item_renderer>Inky_Checkout_Block_Cart_Item_Renderer</cart_item_renderer>
				</rewrite>
            </checkout>
		</blocks>         
        <models>
            <inky_checkout>
                <class>Inky_Checkout_Model</class>
            </inky_checkout>
        </models>       
    </global>
</config>
