<?xml version="1.0"?>
<config>
    <modules>
        <Expert_Orderdelete>
            <version>1.0.0</version>
        </Expert_Orderdelete>
    </modules>
    <frontend>
        <routers>
            <orderdelete>
                <use>standard</use>
                <args>
                    <module>Expert_Orderdelete</module>
                    <frontName>orderdelete</frontName>
                </args>
            </orderdelete>
        </routers>
        <layout>
            <updates>
                <orderdelete>
                    <file>orderdelete.xml</file>
                </orderdelete>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<orderdelete>
				<use>admin</use>
				<args>
					<module>Expert_Orderdelete</module>
					<frontName>orderdelete</frontName>
				</args>
			</orderdelete>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<orderdelete>
							<title>Deleteorder Module</title>
							<sort_order>10</sort_order>
						</orderdelete>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<orderdelete>
					<file>orderdelete.xml</file>
				</orderdelete>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
			
            <orderdelete>
                <class>Expert_Orderdelete_Model</class>
                <resourceModel>orderdelete_mysql4</resourceModel>
            </orderdelete>
            <orderdelete_mysql4>
                <class>Expert_Orderdelete_Model_Mysql4</class>
                <entities>
                    <orderdelete>
                        <table>orderdelete</table>
                    </orderdelete>
                </entities>
            </orderdelete_mysql4>
        </models>
        <resources>
            <orderdelete_setup>
                <setup>
                    <module>Expert_Orderdelete</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderdelete_setup>
            <orderdelete_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderdelete_write>
            <orderdelete_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderdelete_read>
        </resources>
        <blocks>
		 <adminhtml>
            <rewrite>
                <sales_order_grid>Expert_Orderdelete_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
            </rewrite>		 
           <rewrite>
                <sales_order_view>Expert_Orderdelete_Block_Adminhtml_Sales_Order_View</sales_order_view>
            </rewrite>
        </adminhtml>
            <orderdelete>
                <class>Expert_Orderdelete_Block</class>
            </orderdelete>
        </blocks>
        <helpers>
            <orderdelete>
                <class>Expert_Orderdelete_Helper</class>
            </orderdelete>
        </helpers>		
    </global>
	
	 <default>
        <sales>
            <orderdelete>          
                <enabled>1</enabled>              
            </orderdelete>
        </sales>
    </default>
</config>