<?xml version="1.0"?>
<!--
/**
 * Mas_Masonotes extension by Makarovsoft.com
 * 
 * @category   	Mas
 * @package		Mas_Masonotes
 * @copyright  	Copyright (c) 2014
 * @license		http://makarovsoft.com/license.txt
 * @author		makarovsoft.com
 */
-->
<config>
	<modules>
		<Mas_Masonotes>
			<version>1.4</version>
		</Mas_Masonotes>
	</modules>
	<global>
		<resources>
			<mas_masonotes_setup>
				<setup>
					<module>Mas_Masonotes</module>
					<class>Mas_Masonotes_Model_Resource_Setup</class>
				</setup>
			</mas_masonotes_setup>
		</resources>
		<blocks>
			<masonotes>
				<class>Mas_Masonotes_Block</class>
			</masonotes>
		</blocks>
		<helpers>
			<masonotes>
				<class>Mas_Masonotes_Helper</class>
			</masonotes>
		</helpers>
		<models>
			<masonotes>
				<class>Mas_Masonotes_Model</class>
				<resourceModel>masonotes_resource</resourceModel>
			</masonotes>
			<masonotes_resource>
				<class>Mas_Masonotes_Model_Resource</class>
				<entities>
					<note>
						<table>mas_masonotes_note</table>
					</note>
					<note_store>
						<table>mas_masonotes_note_store</table>
					</note_store>
					<note_customer>
						<table>mas_masonotes_note_customer</table>
					</note_customer>
				</entities>
			</masonotes_resource>
		</models>
		<template>
            <email>
               <masonotes_general_template translate="label" module="masonotes">
                   <label>Notes on Orders Template</label>
                   <file>mas_onotes.html</file>
                   <type>html</type>
               </masonotes_general_template>
            </email>
        </template>        
		<events>
			<masonotes_note_changes>
				<observers>
					<onote>
						<type>singleton</type>
						<class>masonotes/observer</class>
						<method>handleNoteChanges</method>
					</onote>
				</observers>
			</masonotes_note_changes>
		</events>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<mas_masonotes>
					<file>mas_masonotes.xml</file>
				</mas_masonotes>
			</updates>
		</layout>
		<translate>
			<modules>
				<Mas_Masonotes>
					<files>
						<default>Mas_Masonotes.csv</default>
					</files>
				</Mas_Masonotes>
			</modules>
		</translate>
		<events>
			<core_block_abstract_to_html_before>
				<observers>
					<onote>
						<type>singleton</type>
						<class>masonotes/adminhtml_observer</class>
						<method>addNoteBlock</method>
					</onote>
				</observers>
			</core_block_abstract_to_html_before>
		</events>
	</adminhtml>
    <frontend>
        <routers>
			<masonotes>
				<use>standard</use>
				<args>
					<module>Mas_Masonotes</module>
					<frontName>ordersnotes</frontName>
				</args>
			</masonotes>
		</routers>
		<events>
			<checkout_type_onepage_save_order_after>
				<observers>
					<onote>
						<type>singleton</type>
						<class>masonotes/observer</class>
						<method>handleCustomerComment</method>
					</onote>
				</observers>
			</checkout_type_onepage_save_order_after>
			<core_block_abstract_to_html_after>
                <observers>
                    <onote>
                        <type>singleton</type>
                        <class>masonotes/observer</class>
                        <method>handleBlockOutput</method>
                    </onote>
                </observers>
            </core_block_abstract_to_html_after>
		</events>
		<layout>
			<updates>
				<mas_masonotes>
					<file>mas_masonotes.xml</file>
				</mas_masonotes>
			</updates>
		</layout>
	</frontend>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Mas_Masonotes before="Mage_Adminhtml">Mas_Masonotes_Adminhtml</Mas_Masonotes>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
		<masonotes>
			<general>
                <editor>1</editor>
                <mail_template>masonotes_general_template</mail_template>
            </general>
            <customer>
                <enabled>0</enabled>
                <let_reply>0</let_reply>
                <text_above></text_above>
            </customer>
		</masonotes>
	</default>
</config>