<?xml version="1.0"?>
<config>
    <modules>
        <Iksanika_Productupdater>
            <version>1.2.0</version>
        </Iksanika_Productupdater>
    </modules>
   <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <productupdater after="Mage_Adminhtml">Iksanika_Productupdater_Adminhtml</productupdater>
                    </modules>
                </args>
            </adminhtml>
            <!--
            <productupdater>
                < ! - - should be set to "admin" when overloading admin stuff (?) - - >
                <use>admin</use>
                <args>
                    <module>Iksanika_Productupdater</module>
                    < ! - - This is used when "catching" the rewrite above - - >
                    <frontName>productupdater</frontName>
                </args>
            </productupdater>
            -->
        </routers>
    </admin>
    <admin>
        <routers>
             <adminhtml>
                 <args>
                     <modules>
                         <productupdater before="Mage_Adminhtml">Iksanika_Productupdater_Adminhtml</productupdater>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <productupdater>
                <class>Iksanika_Productupdater_Block</class>
            </productupdater>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit>Iksanika_Productupdater_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <productupdater>
                <class>Iksanika_Productupdater_Helper</class>
            </productupdater>
        </helpers>
        <models>
            
            <catalogsearch_resource>
                <rewrite>
                    <search_collection>Iksanika_Productupdater_Model_Resource_Search_Collection</search_collection>
                </rewrite>
            </catalogsearch_resource>
            <productupdater>
                <class>Iksanika_Productupdater_Model</class>
            </productupdater>
            <productupdater_profile>
                <class>Iksanika_Productupdater_Model_Profile</class>
            </productupdater_profile>
            <!--
            <catalog>
                <rewrite>
                    <product>Iksanika_Productupdater_Model_Product</product>
                </rewrite>
            </catalog>
            -->
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product_collection>Iksanika_Productupdater_Model_Resource_Eav_Mysql4_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource_eav_mysql4>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <widget_grid_column>Iksanika_Productupdater_Block_Widget_Grid_Column</widget_grid_column>
                </rewrite>
                <rewrite>
                    <catalog_product_edit_tab_crosssell>Iksanika_Productupdater_Block_Catalog_Product_Edit_Tab_Crossell</catalog_product_edit_tab_crosssell>
                </rewrite>
                <rewrite>
                    <catalog_product_edit_tab_upsell>Iksanika_Productupdater_Block_Catalog_Product_Edit_Tab_Upsell</catalog_product_edit_tab_upsell>
                </rewrite>
                <rewrite>
                    <catalog_product_edit_tab_related>Iksanika_Productupdater_Block_Catalog_Product_Edit_Tab_Related</catalog_product_edit_tab_related>
                </rewrite>
                <rewrite>
                    <catalog_category_tab_product>Iksanika_Productupdater_Block_Catalog_Category_Tab_Product</catalog_category_tab_product>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <iksanika_productupdater_product_save>
                        <type>model</type>
                        <class>Iksanika_Productupdater_Model_Observer</class>
                        <method>prepareProductSave</method>
                    </iksanika_productupdater_product_save>
                </observers>
            </catalog_product_prepare_save>
        </events>
                                                                                                                           
    <!-- Relate Stuff -->                                                                                                  
    </global>    
    <adminhtml>                                                                                                            
        <layout>                                                                                                           
            <updates>                                                                                                      
                <productupdater>                
                    <file>iksanika_produpd.xml</file>                                                                      
                </productupdater>                                                                                            
            </updates>                                                                                                     
        </layout>
        <menu>                                                                                                             
            <catalog module="productupdater">                                                                    
                <children>                                                                                         
                    <productupdater module="productupdater">
                        <title>Products Manager (Advanced)</title>
                        <sort_order>0</sort_order>
                        <!--<action>productupdater/catalog_product</action>-->
                        <action>adminhtml/productupdater/index</action>
                    </productupdater>
                </children>
            </catalog>
        </menu>
    </adminhtml>
    <default>
        <productupdater>
            
            <currentProfile>1</currentProfile>
            <profile_ids>0</profile_ids>
            <profile_0>a:1:{i:0;a:1:{s:7:\"columns\";s:53:\"id,qty,is_in_stock,category_ids,name,price,sku,status\";}}</profile_0>
            
            <general>
                <isenabled>1</isenabled>
                <truncatelongtextafter>60</truncatelongtextafter>
            </general>
            <columns>
                <showcolumns>id,name,type_id,attribute_set_id,sku,price,qty,visibility,status,websites,image</showcolumns>
                <limit>50</limit>
                <page>1</page>
                <sort>id</sort>
                <dir>desc</dir>
                <associatedShow>1</associatedShow>
                <redirectAdvancedProductManager>1</redirectAdvancedProductManager>
            </columns>
            <stockmanage>
                <autoStockStatus>0</autoStockStatus>
            </stockmanage>
            <images>
                <showurl>0</showurl>
                <showbydefault>1</showbydefault>
                <width>75</width>
                <height>75</height>
            </images>
            <productrelator>
                <enablerelated>1</enablerelated>
                <enablecrosssell>1</enablecrosssell>
                <enableupsell>1</enableupsell>
            </productrelator>
            <massactions>
                <enableaddcategory>1</enableaddcategory>
                <enableremovecategory>1</enableremovecategory>
                <categorynames>1</categorynames>
            </massactions>
            <defaults>
            </defaults>
        </productupdater>
    </default>
    <adminhtml>
        <acl>                                                                                                              
            <resources>                                                                                                      
                <all>                                                                                              
                    <title>Allow Everything</title>                                                            
                </all>                                                                                             
                <admin>                                                                                                        
                    <children>                                                                                                   
                        <catalog>                                                                                                
                            <children>                                                                                         
                                <productupdater>                                                                     
                                    <title>Products Manager (Advanced)</title>                                                         
                                </productupdater>                                                                    
                            </children>                                                                                
                        </catalog>                                                                                               
                        <system>                                                                                                 
                            <children>                                                                                           
                                <config>                                                                                           
                                    <children>                                                                                       
                                        <productupdater>                                                                                 
                                            <title>Products Manager (Advanced) Config</title>                                                          
                                        </productupdater>                                                                                
                                        <ordermanage>                                                                                 
                                            <title>Orders Manager (Advanced) Config</title>                                                          
                                        </ordermanage>                                                                                
                                    </children>                                                                                      
                                </config>                                                                                          
                            </children>                                                                                          
                        </system>                                                                                                
                    </children>                                                                                                  
                </admin>                                                                                                       
            </resources>                                                                                                     
        </acl>                                                                                                             
    </adminhtml>        
</config>