<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Modulesgarden_Base>
			<version>1.0.0</version>
		</Modulesgarden_Base>
	</modules>

	<admin>
		<routers>
			<modulesgardenbase>
				<use>admin</use>
				<args>
					<module>Modulesgarden_Base</module>
					<frontName>modulesgardenbase</frontName>
				</args>
			</modulesgardenbase>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<modulesgardenbase>
					<files>
						<default>Modulesgarden_Base.csv</default>
					</files>
				</modulesgardenbase>
			</modules>
		</translate>
		<layout>
			<updates>
				<modulesgardenbase>
					<file>modulesgardenbase.xml</file>
				</modulesgardenbase>
			</updates>
		</layout>
		<events>
			<adminhtml_block_html_before>
				<observers>
					<modulesgardenbase_config>
						<class>modulesgardenbase/observer</class>
						<method>adminhtml_block_html_before</method>
						<type>model</type>
					</modulesgardenbase_config>
				</observers>
			</adminhtml_block_html_before>
		</events>
	</adminhtml>

	<global>
		<blocks>
			<modulesgardenbase>
				<class>Modulesgarden_Base_Block</class>
			</modulesgardenbase>
		</blocks>
		<models>
			<modulesgardenbase>
				<class>Modulesgarden_Base_Model</class>
				<resourceModel>modulesgardenbase_resource</resourceModel>
			</modulesgardenbase>
			<modulesgardenbase_resource>
				<class>Modulesgarden_Base_Model_Resource</class>
			</modulesgardenbase_resource>
		</models>
		<helpers>
			<modulesgardenbase>
				<class>Modulesgarden_Base_Helper</class>
			</modulesgardenbase>
		</helpers>
	</global>
	<default>
		<modulesgardenbase>
			<notifications>
				<create_system_notification>upgrade,release,promotion,other</create_system_notification>
			</notifications>
		</modulesgardenbase>
	</default>
	<crontab>
		<jobs>
			<modulesgardenbase_notifications>
				<schedule>
					<cron_expr>0 6 * * *</cron_expr><!-- 6:00 AM -->
				</schedule>
				<run>
					<model>modulesgardenbase/observer::fetchNotifications</model>
				</run>
			</modulesgardenbase_notifications>
		</jobs>
	</crontab>
</config>
