<?xml version="1.0"?>
<config>
    <modules>
        <CueBlocks_ManualDiscount>
            <version>1.0.2</version>
        </CueBlocks_ManualDiscount>
    </modules>
    <global>
        <models>
            <manualdiscount>
                <class>CueBlocks_ManualDiscount_Model</class>
            </manualdiscount>
            <salesrule>
                <rewrite>
                    <validator>CueBlocks_ManualDiscount_Model_SalesRule_Validator</validator>
                </rewrite>
            </salesrule>
            <adminhtml>
                <rewrite>
                    <sales_order_create>CueBlocks_ManualDiscount_Model_Adminhtml_Sales_Order_Create</sales_order_create>
                </rewrite>
            </adminhtml>
        </models>
        <blocks>
            <manualdiscount>
                <class>CueBlocks_ManualDiscount_Block</class>
            </manualdiscount>
        </blocks>
        <helpers>
            <manualdiscount>
                <class>CueBlocks_ManualDiscount_Helper</class>
            </manualdiscount>
        </helpers>
        <resources>
            <cue_manualdiscount_setup>
                <setup>
                    <module>CueBlocks_ManualDiscount</module>
                </setup>
            </cue_manualdiscount_setup>
        </resources>
        <events>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <manualdiscount>
                        <class>manualdiscount/observer</class>
                        <method>processOrderCreationData</method>
                    </manualdiscount>
                </observers>
            </adminhtml_sales_order_create_process_data>
        </events>
        <fieldsets>
            <sales_convert_quote>
                <manual_discount>
                    <to_order>*</to_order>
                </manual_discount>
                <manual_discount_type>
                    <to_order>*</to_order>
                </manual_discount_type>
            </sales_convert_quote>
            <sales_convert_order>
                <manual_discount>
                    <to_quote>*</to_quote>
                </manual_discount>
                <manual_discount_type>
                    <to_quote>*</to_quote>
                </manual_discount_type>
            </sales_convert_order>
        </fieldsets>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <manualdiscount>
                    <file>manualdiscount/customdiscount.xml</file>
                </manualdiscount>
            </updates>
        </layout>
    </adminhtml>
</config>
