<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Modulesgarden_Teamandtaskorganizer>
            <version>1.1.1</version>
        </Modulesgarden_Teamandtaskorganizer>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <modulesgarden_teamandtaskorganizer before="Mage_Adminhtml">Modulesgarden_Teamandtaskorganizer_Adminhtml</modulesgarden_teamandtaskorganizer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <teamandtaskorganizer>
                    <files>
                        <default>Modulesgarden_Teamandtaskorganizer.csv</default>
                    </files>
                </teamandtaskorganizer>
            </modules>
        </translate>
        <layout>
            <updates>
                <teamandtaskorganizer>
                    <file>teamandtaskorganizer.xml</file>
                </teamandtaskorganizer>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <!--		<template>
                <email>
                        <modulesgarden_teamandtaskorganizer_email_task_notification translate="label">
                                <label>Test email sending</label>
                                <file>modulesgarden_teamandtaskorganizer_email_task_notification.html</file>
                                <type>html</type>
                        </modulesgarden_teamandtaskorganizer_email_task_notification>
                </email>
        </template>-->
        <models>
            <teamandtaskorganizer>
                <class>Modulesgarden_Teamandtaskorganizer_Model</class>
                <resourceModel>teamandtaskorganizer_mysql4</resourceModel>
            </teamandtaskorganizer>
            <teamandtaskorganizer_mysql4>
                <class>Modulesgarden_Teamandtaskorganizer_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>ttorganizer_log</table>
                    </log>
                    <task>
                        <table>ttorganizer_task</table>
                    </task>
                    <task_auto>
                        <table>ttorganizer_task_auto</table>
                    </task_auto>
                    <task_comment>
                        <table>ttorganizer_task_comment</table>
                    </task_comment>
                    <user_privilege>
                        <table>ttorganizer_user_privilege</table>
                    </user_privilege>
                    <user_setting>
                        <table>ttorganizer_user_setting</table>
                    </user_setting>
                </entities>
            </teamandtaskorganizer_mysql4>
        </models>
        <blocks>
            <teamandtaskorganizer>
                <class>Modulesgarden_Teamandtaskorganizer_Block</class>
            </teamandtaskorganizer>
        </blocks>
        <helpers>
            <teamandtaskorganizer>
                <class>Modulesgarden_Teamandtaskorganizer_Helper</class>
            </teamandtaskorganizer>
        </helpers>

        <resources>
            <teamandtaskorganizer_setup>
                <setup>
                    <module>Modulesgarden_Teamandtaskorganizer</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </teamandtaskorganizer_setup>
            <teamandtaskorganizer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </teamandtaskorganizer_write>
            <teamandtaskorganizer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </teamandtaskorganizer_read>
        </resources>

        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <teamandtaskorganizer_order>
                        <class>teamandtaskorganizer/observer</class>
                        <method>sales_order_place_after</method>
                        <type>singleton</type>
                    </teamandtaskorganizer_order>
                </observers>
            </sales_model_service_quote_submit_success>
            <sales_order_save_after>
                <observers>
                    <teamandtaskorganizer_order_status>
                        <class>teamandtaskorganizer/observer</class>
                        <method>after_order_status</method>
                        <type>singleton</type>
                    </teamandtaskorganizer_order_status>
                </observers>
            </sales_order_save_after>
            <customer_save_after>
                <observers>
                    <teamandtaskorganizer_customer>
                        <class>teamandtaskorganizer/observer</class>
                        <method>customer_save_after</method>
                        <type>singleton</type>
                    </teamandtaskorganizer_customer>
                </observers>
            </customer_save_after>
            <sales_order_invoice_save_after>
                <observers>
                    <teamandtaskorganizer_invoice>
                        <class>teamandtaskorganizer/observer</class>
                        <method>after_invoice</method>
                        <type>singleton</type>
                    </teamandtaskorganizer_invoice>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <teamandtaskorganizer_ship>
                        <class>teamandtaskorganizer/observer</class>
                        <method>after_ship</method>
                        <type>singleton</type>
                    </teamandtaskorganizer_ship>
                </observers>
            </sales_order_shipment_save_after>
            <review_save_after>
                <observers>
                    <teamandtaskorganizer_review>
                        <class>teamandtaskorganizer/observer</class>
                        <method>after_review</method>
                        <type>singleton</type>
                    </teamandtaskorganizer_review>
                </observers>
            </review_save_after>
            <catalog_product_save_after>
                <observers>
                    <teamandtaskorganizer_newprod>
                        <class>teamandtaskorganizer/observer</class>
                        <method>after_new_product</method>
                        <type>singleton</type>
                    </teamandtaskorganizer_newprod>
                </observers>
            </catalog_product_save_after>
            <core_abstract_save_after>
                <observers>
                    <teamandtaskorganizer_recurring>
                        <class>teamandtaskorganizer/observer</class>
                        <method>after_recurring</method>
                        <type>singleton</type>
                    </teamandtaskorganizer_recurring>
                </observers>
            </core_abstract_save_after>
        </events>
    </global>
</config>
