<?xml version="1.0"?>
<config>
	<modules>
		<NextBits_OrderAttachments>
			<version>1.0.0</version>
		</NextBits_OrderAttachments>
	</modules>
	<frontend>
		<routers>
			<orderattachments>
				<use>standard</use>
				<args>
					<module>NextBits_OrderAttachments</module>
					<frontName>orderattachments</frontName>
				</args>
			</orderattachments>
		</routers>
		<layout>
			<updates>
				<orderattachments module="orderattachments">
					<file>nborderattachments.xml</file>
				</orderattachments>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<orderattachments>
				<class>NextBits_OrderAttachments_Model</class>
				<resourceModel>orderattachments_mysql4</resourceModel>
			</orderattachments>
			<orderattachments_mysql4>
				<class>NextBits_OrderAttachments_Model_Mysql4</class>
				<entities>
					<orderattachments>
						<table>nboa_order_attachments</table>
					</orderattachments>
				</entities>
			</orderattachments_mysql4>
		</models>
		<blocks>
			<orderattachments>
				<class>NextBits_OrderAttachments_Block</class>
			</orderattachments>
		</blocks>
		<helpers>
			<orderattachments>
				<class>NextBits_OrderAttachments_Helper</class>
			</orderattachments>
		</helpers>
		<resources>
			<orderattachments_setup>
				<setup>
					<module>NextBits_OrderAttachments</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</orderattachments_setup>
			<orderattachments_write>
				<connection>
					<use>core_write</use>
				</connection>
			</orderattachments_write>
			<orderattachments_read>
				<connection>
					<use>core_read</use>
				</connection>
			</orderattachments_read>
		</resources>
		<template>
			<email>
				<orderattachments_general_custom_email_template translate="label" module="orderattachments">
					<label>Order Attachments</label>
					<file>nborderattachments.html</file>
					<type>html</type>
				</orderattachments_general_custom_email_template>
			</email>
		</template>
	</global>
	<default>
        <orderattachments>
            <general>
				<order_attachments_email><![CDATA[orderattachment@yoursite.com]]></order_attachments_email>
				<order_attachments_name><![CDATA[OrderAttachments Admin]]></order_attachments_name>
                <custom_email_template>orderattachments_general_custom_email_template</custom_email_template>
            </general>
        </orderattachments>
    </default> 
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<NextBits_OrderAttachments before="Mage_Adminhtml">NextBits_OrderAttachments_Adminhtml</NextBits_OrderAttachments>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<orderattachments>
					<file>nborderattachments.xml</file>
				</orderattachments>
			</updates>
		</layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<orderattachments translate="title" module="orderattachments">
											<title>Order Attachments</title>
											<sort_order>10000</sort_order>
										</orderattachments>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>